    <li><a href="#"><i class="large material-icons">add</i>Ingresar</a></li>
  <li class="divider"></li>
    <li><a href="#"><i class="large material-icons">add</i>Solicitar Documentos</a></li>
  <li class="divider"></li>
    <li><a href="#"><i class="large material-icons">add</i>proxima junta</a></li>
  <li class="divider"></li>
      <li><a href="#"><i class="large material-icons">add</i>Proyectos</a></li>
  <li class="divider"></li>
        <li><a href="#"><i class="large material-icons">add</i>Estructura organizacional</a></li>
  <li class="divider"></li>
          <li><a href="#"><i class="large material-icons">add</i>Eventos</a></li>
  <li class="divider"></li>
            <li><a href="#"><i class="large material-icons">add</i>Fecha Tequios</a></li>
  <li class="divider"></li>