<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel='stylesheet' href='/vendor/materializecss/css/materialize.min.css' />
    <title>{{title}}</title>
    
  </head>
  <body>
    {{{body}}}
    <script src="/javascripts/budle.js"></script>
    <script src="/vendor/materializecss/js/materialize.min.js"></script>
  </body>
</html>
