<br><br>
<div class="row center light-blue lighten-4" style="padding:2em; border-radius: 1em;">
    <h1 class="header center teal-text">
        SANTA ANA DEL VALLE
    </h1>
    <div class="row center">
        <h5 class="header col s12 light grey-text text_darken-3">
            La trnsmision comenzara en breve
        </h5>
    </div>
    <div class="row center">
        <a href="/projects/add" class="btn-large waves-effect waves-ligth teal">
            Ingresar
        </a>
    </div>
</div>